@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Serif&family=Open+Sans&family=Source+Code+Pro&display=swap');

body {
  font-family: 'Open Sans';
  font-weight: 400;
}

h1 {
  text-align: left;
  font-family: "Montserrat";
  font-weight:bold;
  font-size: 28px;
  text-transform: uppercase;
  color: Black;
}

h2 {
  text-align: left;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: Black;
}

h3 {
  text-align: left;
  font-family: "Montserrat";
  font-weight:700;
  font-size: 18px;
  color: Black;
}

h4 {
  text-align: left;
  font-family: "Montserrat";
  font-weight:700;
  font-size: 16px;
  color: Black;
}

pre, code {
  font-family: "Source Code Pro", Consolas, Inconsolata, monospace;
}

.label-default {
  background-color: transparent;
}

.navbar-inverse {
  background-color: #1D252C;
  border-color: transparent;
  min-height: 50px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
}

.navbar-brand {
    background-image: url(logo.png);
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding: 0 0 0 54px;
    height: 30;
    line-height: 50px;
}
